.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#map {
    -webkit-animation: fadein 1s;
    width: 400px;
    height: 400px;
    margin: auto;
}

.marker {
    color: black;
    background-image: url('https://cdn3.iconfinder.com/data/icons/map-markers-2/512/marker_2-256.png');
    z-index: 10;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding: 15px
}

.marker p {
    display: none;
}

.marker:hover p {
    -webkit-animation: fadein 1s;
    color: white;
    padding: 5px;
    position: relative;
    bottom: 40px;
    left: 15px;
    font-size: 15px;
    display: block;
    background-color: #2bb0d1;
    width: 150px;
    max-width: 200px;
    z-index: 14;
    box-shadow: 10px 10px 5px grey;
    border-radius: 2px;
    font-family: sans-serif;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#linechart {
    width: 500px;
    margin: auto;
}

table{
    width: 300px;
    margin:auto;
}

#search {
    width: 100%;
    margin-top: 50px;
}
#search input[type=text]{
    height:35px;
    font-size: 20px;
    margin-right: 20px;
}

#graph{
    width:600px;
    margin:auto;
}

.map-and-Info{
    width:900px;
    margin: auto;
    position: relative;
    left:120px;
}

.floatLeft{
    float:left;
}

.description-popup{
    /*width:600px;*/
    background-color: black;
    color:white;
    z-index: 15;
    position: absolute;
}
